html, body, #root {
    margin: 0;
    top: 0;
    left: 0;
}

#root {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;

  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}